---
layout: base.njk
---

{% include "partials/_header.njk" %}

<main class="sans-serif">

{% for post in pagination.items %}

<article class="cf ph3 ph5-ns pv5">
  <header class="fn fl-ns w-50-ns pr4-ns">
      <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
        <a href="{{post.url}}" class="near-black no-underline link dim">
          {{post.data.title}}
      </a>
      </h1>
    <h2 class="f3 mid-gray lh-title">
      {{post.data.authors}}
    </h2>
    <time class="f6 ttu tracked gray">{{post.data.date}}</time>
  </header>
  <div class="fn fl-ns w-50-ns">
    <p class="f5 lh-copy measure mt0-ns">
      {% excerpt post %}
    </p>
    <a href="{{post.url}}" title="Continue Reading" class="f6 dib ph2 link mid-gray ba b--silver ph3 pv2 dim">Continue Reading</a>

  </div>
</article>


{% endfor %}

<div class="tc-l mv5 ph3 items-center">
  <a class="f6 link ba ph3 pv2 dib near-black measure-wide w-100 tc center" href="/posts/">See all posts</a>
</div>

</main>