<header class="sans-serif">
        <div class="cover bg-left bg-center-l" style="background-image: url(/leaves.jpeg)">
          <div class="bg-black-60 pb5 pb6-m pb6-l">
        
            {% include "partials/_nav.njk" %}
            
            <div class="tc-l mt4 mt5-m mt5-l ph1">
              <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">{{ title }}</h1>
            </div>
          </div>
        </div> 
      </header>