<header class="sans-serif">
        <div class="cover bg-left bg-center-l" style="background-image: url({{"/leaves.jpeg" | url }})">
          <div class="bg-black-60 pb2 pb2-m pb2-l">
            {% include "partials/_nav.njk" %}
          </div>
        </div> 
      </header>